<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
<title>JokeApp</title>
</head>
<body>
<h1>Chuck Noriss Quotes</h1>
<p th:text="${jokes}">Insert Joke Here!!</p>
</body>
</html>